@page "/"

<h1>Pixelarts by Sany</h1>
<div class="container">
    <div class="row">
        <div class="col-4">
            
        </div>
        <div class="col-8">
        </div>
    </div>
</div>
<hr />
<div class="d-flex flex-row m-3">
    <div>
        <h3>No time to ask. Just click and try!</h3>
        <h3><a href="/pixelarts/create">Create pixelart...</a></h3>
        <h3><a href="/register">Register...</a></h3>
        <h3><a href="/login">Login...</a></h3>
    </div>
    <div class="text-center">
        <img class="w-50" src="https://store-images.s-microsoft.com/image/apps.42451.14564302000957622.578aed08-47c3-41d0-8332-0d9413a19b55.8f01627f-9f26-4324-bf74-ad81cda67491?mode=scale&amp;q=90&amp;background=%23ffffff" />
    </div>
</div>