@page "/logout"
@inject NavigationManager NavigationManager

<button class="btn btn-primary align-middle" @onclick="SubmitLogout">Logout</button>

<form method="post">
    <button class="invisible" type="submit">Logout</button>
</form>

@code {
    private void SubmitLogout()
    {
        NavigationManager.NavigateTo("/middlewares/logout", forceLoad: true);
    }
}