@page "/pixelarts/{Id:int}" 
@inject IPixelartService PixelartService
@inject IPresentationUnitService PresentationUnitService

<h3>@_pixelart?.Name</h3>

<hr />
<div class="d-flex flex-row">
    <img src="/Images/@_pixelart?.ResultPath" />
    <div class="flex-grow-1 text-justify ml-3">@_pixelart?.Description</div>
</div>
<hr />

<div class="d-flex flex-wrap">
    @foreach (var item in _mentions)
    {
        <div class="d-flex flex-row h-100" style="width: 20%">
            <a href="colors?selected=@item.Id"><div class="m-1 border" style="height: 30px; width: 30px; background-color: rgb(@item.R, @item.G, @item.B)"></div></a>
            <div class="flex-grow-1 ml-3 justify-content-center align-self-center">x<span>@item.MentionsCount</span></div>
        </div>
    }
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private PixelartInfoModel _pixelart;
    private IEnumerable<ColorMentionsCount> _mentions = Array.Empty<ColorMentionsCount>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _pixelart = await PixelartService.GetAsync(Id);

        _mentions = await PresentationUnitService.CountColorsMentionsFromImageAsync(_pixelart.ResultPath);
    }
}
